/*
<select class="sort-select">
                <option value="Popularité" selected>Popularité</option>
                <option value="Date">Date</option>
                <option value="Titre">Titre</option>
</select>
*/
.sort-select {
    width: 170px;
    height: 59px;
    background: rgba(144, 28, 28, 1);
    color: white;
    font-size: 18px;
    padding: 1px 28px 0;
    margin-top: 16px;
    text-decoration: blink;
    margin-left: 15px;
    /* Replace Default styling (arrow) */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg id='Layer_1' style='enable-background:new 0 0 512 512;fill:white;' version='1.1' viewBox='0 0 512 512' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpolygon points='396.6,160 416,180.7 256,352 96,180.7 115.3,160 256,310.5 '/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 98%;
    background-size: 30px;
}

.sort-select:focus,
.sort-select:hover {
    outline: none;
    border: 1px solid #bbb;
}

.sort-select:focus {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg id='Layer_1' style='enable-background:new 0 0 512 512;fill:white;' version='1.1' viewBox='0 0 512 512' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpolygon points='396.6,352 416,331.3 256,160 96,331.3 115.3,352 256,201.5 '/%3E%3C/svg%3E");
}

.sort-select option {
    font-size: 18px;
    width: 170px;
    height: 59px;
}

select {
    width: 170px;
    height: 59px;
}

select option {
    width: 170px;
    height: 59px;
}

select option:checked,
select option:hover {
    color: #990000;
}

select:focus > option:checked {
    display: none;
}
