:root {
    --arrow-width: 20px;
}

/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: Arial;
    width: 150px;
    height: 60px;
    margin-left: 15px;
}

.custom-select select {
    display: none; /*hide original SELECT element:*/
}

.select-selected {
    /*background-color: DodgerBlue;*/
    background: rgba(144, 28, 28, 1);
    /*color: white;*/
}

/*style the arrow inside the select element:*/
.select-selected:after {
    /*
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
    */
    position: absolute;
    content: "";
    top: calc(50% - (var(--arrow-width) / 2));
    right: 11px;
    width: var(--arrow-width);
    height: var(--arrow-width);
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg id='Layer_1' style='enable-background:new 0 0 512 512;fill:white;' version='1.1' viewBox='0 0 512 512' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpolygon points='396.6,160 416,180.7 256,352 96,180.7 115.3,160 256,310.5 '/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: var(--arrow-width);
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    /*
    border-color: transparent transparent #fff transparent;
    top: 7px;
    */
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg id='Layer_1' style='enable-background:new 0 0 512 512;fill:white;' version='1.1' viewBox='0 0 512 512' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpolygon points='396.6,352 416,331.3 256,160 96,331.3 115.3,352 256,201.5 '/%3E%3C/svg%3E");
}

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
    color: #ffffff;
    /*padding: 8px 16px;*/
    padding: 20px 23px;

    border: 1px solid transparent;
    /*border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;*/
    border-color: transparent transparent white transparent;
    cursor: pointer;
    user-select: none;
    width: 150px;
    height: 60px;
}

/*style items (options):*/
.select-items {
    position: absolute;
    /*background-color: DodgerBlue;*/
    background: rgba(144, 28, 28, 1);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);

}

.same-as-selected {
    display: none;

}
