
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.8);
}
input.invalid {
    border-color: #900;
    background-color: #FDD;
}

input:focus.invalid {
    outline: none;
}
.error {
    color: red;
    font-size: 16px;
    margin: 10px 0 0 12px;
    padding: 0;
    display: none;
}
.flou {
    /* On applique le filtre CSS3 pour flouter l'image (avec ici les variantes pour les différents moteurs de rendu) */
    /* chrome */
    -webkit-filter: blur(5px);
    /* Firefox */
    -moz-filter: blur(5px);
    /* Filtre de floutage CSS3 standard */
    filter: blur(5px);
}
.content {
    margin: 5% auto;
    width: 100%;
    max-width: 500px;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    background-color: rgba(219,136,118,1);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: #fff;
    box-shadow: 8px 9px 28px 4px #9e9e9e;
    padding-top: 10px;
}
.modal-body {
    padding: 0 8%;
    margin: 14px auto;
    min-height: 554px;
}
label {
    font-family: var(--font-default);
    font-weight: normal;
    display: inline-block;
    margin-bottom: 11px;
    color: rgba(49,46,46,1);
    font-size: 27px;
}

input {
    padding: 8px;
    border: 0.8px solid #ccc;
    outline: none;
}

.text-control {
    margin: 0;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    height: 48px;
}

.formData {
    border: none;
    padding: 7px;
}
.formData[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: #e54858;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
}
textarea {
    margin: 0;
    width: 409px;
    height: 138px;
    border-radius: 8px
}

.formData[data-error-visible="true"]::after {
    opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
    border: 2px solid #e54858;
}
.close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    /* transform: scale(0.7);*/
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 3px;
    background-color: #fff;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}
.btn-submit {
    width: 170px;
    height: 69px;
    font-size: 20px;
    line-height: 20px;
    color: white;
    background-color: hsl(0deg 67% 34%);
    border-radius: 5px;
    margin: 11px 12px;
}
.btn-submit:hover {
    background-color: #D3573C;
    color: black;
}
.btn-submit:focus {
    color: black;
}
/*@media all and (max-width: 2000px){
    .content {
        margin: 5% auto;
        width: 100%;
        max-width: 31%;
        height: 77%;
    }
    .p1 {
        font-size: 57px;
        margin: 40px 77px;
    }
    .p2 {
        margin: 17px 83px;
        font-size: 52px;
    }
    label {
        margin-bottom: 31px;
        font-size: 38px;
    }
    .text-control {
        margin: 0;
        padding: 38px;
        width: 87%;
    }
    textarea {
        width: 88%;
        height: 340px;
    }
}*/
@media all and (max-width: 1064px){
    .text-control {
        margin: 2px;
        padding: 28px;
        width: 94%;
    }
    .p1 {
        margin: 4px 3.5rem;
    }
    .p2 {
        margin: 0px 4rem;
    }
    .content {
        margin: 14% auto;
        height: 80%;
        max-width: 628px;
    }
    .text-control {
        padding: 26px;
    }
    textarea {
        width: 488px;
        height: 166px;
    }

}

@media all and (max-width: 763px){
/*    .photographyInfo {
        margin-left: -3rem;
        margin-right: -2rem;
        height: 313px;
        border-radius: 5px;
        margin-top: -6rem;
        background-color: white;
    }*/
    #local {

        margin-top: -3rem;
    }
    .photographyGalleryHeader {
        display: none;
    }
    .btn-submit {
        width: 309px;
        height: 70px;
        font-size: 33px;
        margin: 2rem 4rem;

    }
    .btn-submit:hover
   {
        background-color: #D3573C;
        color: black;
    }
    .btn-submit:focus {
        color: black;
    }
    .content {
        width: 100%;
        max-width: 1000px;
        height: 100%;
        margin: 0;

    }
    .text-control {
        padding: 33px;
    }
    label {
        font-size: 29px;
        margin-top: 1rem;
        margin-bottom: 8px;
    }
    .p1 {
        font-size: 52px;
        color: black;

        margin: 8px 3rem;
        white-space: nowrap;
    }
    .p2 {
        margin: 48px 3rem;;
        font-size: 50px;
        color: black;
        line-height: 0px;
    }
    .modal-body {
        padding: 0 8%;
        /* margin: auto; */
        min-height: 554px;
        margin-top: 3rem;
    }
    textarea {
        width: 102%;
        height: 220px;
    }
    .close:before, .close:after {
        left: 6px;
        width: 5px;
        margin-top: 1rem;
    }


}
@media all and (max-width: 667px){
    .p1 {
        font-size: 40px;
        margin: 3px 3rem;
    }
    .p2 {
        margin: 36px 3rem;
        font-size: 42px;
    }
    label {
        font-size: 28px;
        margin-top: 1rem;
        margin-bottom: 3px;
    }
    .modal-body {
        padding: 0 8%;
        min-height: 554px;
        margin-top: -1rem;
    }
    textarea {
        height: 183px;
    }
}


