body > div a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 7px auto;
    background-color: hsl(11deg 58% 66%);
    width: 199px;
    height: 33px;
    border-radius: 7px;
    white-space: nowrap;
    color: black;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

body > header {
    display: flex;
    /*justify-content: space-between;*/
    /*align-items: end;*/
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 40px 0.4rem;
}
div.logo {
    float: left;
    height: 43px;
    margin: 4px 40px 10px;
    top: 42px;
    left: 100px;
}
div.logo svg {
    width: 200px;
    height: 50px;
}
nav {
    /*display: inline-flex;*/
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 680px);
    margin: 16px -5px 26px;
}
/*nav > ul {
    display: inline-flex;
}
nav > ul > li {*/
nav a{
    width: fit-content;
    border: 3px solid #F2F2F2;
    overflow: hidden;
    border-radius: 30px;
    padding: 6px 15px 5px 15px;
    font-size: 18px;
    margin: 0 2px;
    vertical-align: middle;
    align-self: baseline;
    cursor: pointer;
/*}
nav > ul > li > a {*/
    color: darkred;
    text-decoration: none;

}
@media all and (max-width: 1050px) {
    body > header {
        display: grid;
    }
    nav {
    width: 90%;
    }

    }
@media all and (max-width: 763px){
    body > header {
        padding: 39px 0px;
    }

}
