.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
    animation: lightboxIn .5s;
    transition: opacity .3s;
}

.lightbox.fadeOut {
    opacity: 0;
}

.lightbox_next,
.lightbox_prev {
    background: url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 15L11 10L6 5L7 3L14 10L7 17L6 15Z" fill="darkred"/></svg>') center center / 30px 28px no-repeat;
    width: 50px;
    height: 100%;
    border: none;
    position: fixed;
    top: -4rem;
    margin-top: 4rem;
    z-index: 11;
    opacity: .5;
    right: 19rem;
}

.lightbox_prev {
    right: auto;
    left: 19rem;
    transform: rotate(180deg);
}

.lightbox_close {
    width: 30px;
    height: 30px;
    background: url('data:image/svg+xml;utf8,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M16 2.91L13.09 0L8 5.09L2.91 0L0 2.91L5.09 8L0 13.09L2.91 16L8 10.91L13.09 16L16 13.09L10.91 8L16 2.91Z" fill="darkred"/></svg>') center center /20px 20px no-repeat transparent;
    border: none;
    position: fixed;
    top: 7vh;
    right: 20rem;
    z-index: 12;
}

.lightbox button {
    opacity: .5;
    cursor: pointer;
    transition: opacity .3s;
    text-indent: -3000px;
    outline: none !important;
    zoom: 1;
}

.lightbox button:hover {
    opacity: 1;
}

.lightbox_container img {
    max-width: 46%;
    max-height: 90%;
    animation: lightboxIn .5s;
    align-self: center;
}

.lightbox_container {
    display: flex;
    /*margin-right: 50px;
    margin-left: 50px;*/
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    vertical-align: middle;
}

.lightbox_loader {
    width: 38px;
    height: 38px;
    position: fixed;
    top: calc(50% - 19px);
    left: calc(50% - 19px);
    margin: auto;
    opacity: .5;
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient x1='8.042%25' y1='0%25' x2='65.682%25' y2='23.865%25' id='a'%3E%3Cstop stop-color='%23901C1C' stop-opacity='0' offset='0%25'/%3E%3Cstop stop-color='%23901C1C' stop-opacity='.631' offset='63.146%25'/%3E%3Cstop stop-color='%23901C1C' offset='100%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(1 1)'%3E%3Cpath d='M36 18c0-9.94-8.06-18-18-18' id='Oval-2' stroke='url(%23a)' stroke-width='2'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 18 18' to='360 18 18' dur='0.9s' repeatCount='indefinite' /%3E%3C/path%3E%3Ccircle fill='%23fff' cx='36' cy='18' r='1'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 18 18' to='360 18 18' dur='0.9s' repeatCount='indefinite' /%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    zoom: 2;

}

@keyframes lightboxIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}
@media all and (max-width: 1200px){
    .lightbox_close {
        top: 5vh;
        right: 10rem;
    }
    .lightbox_next {
        right: 10rem;
        margin-top: 3rem;
    }
    .lightbox_prev {
        left: 10rem;
    }
    .lightbox_container img {
        max-width: 64%;
    }

}
@media all and (max-width: 1064px ){
    .lightbox_close {
        top: 8vh;
        right: 1.7rem;
    }
    .lightbox_next {
        right: 1rem;
    }
    .lightbox_prev {
        left: 0.5rem;
    }
    .lightbox_container img {
        max-width: 85%;
        object-fit: cover;
    }


}
@media all and (max-width: 736px){
    .lightbox_prev {
        left: 0rem;
    }
    .lightbox_next {
        right: 0rem;
    }
    .lightbox_close {
        top: 27vh;
        right: 0rem;
    }
    .lightbox_container img {
        max-width: 86%;
        object-fit: cover;
        border-radius: 10px;
    }


}
@media all and (max-width: 667px){
    .lightbox_prev {
        left: 0rem;
    }
    .lightbox_next {
        right: 0rem;
    }
    .lightbox_close {
        top: 22vh;
        right: 0rem;
    }
    .lightbox_container img {
       max-width: 86%;
        object-fit: cover;
        border-radius: 10px;
    }

}
/*
.grid {
    padding: 16px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-gap: 16px;
}
.grid img {
    display: block;
    width: 100%;
    height: 241px;
}*/
