#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -66px;
    border: 16px solid #992f2f;
    border-radius: 50%;
    border-top: 10px solid #e54858;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader {
    display: none;

}
span i {
    font-size: 96px;
    color: #279e7a;

}
.text {
    font-size: 45px;
    /* color: rebeccapurple; */
    color:  #9b3232;
}

#confirmation {
    display: none;
    text-align: center;
    padding-top: 150px;
}
