
.section > header > h1 {
    font-size: 30px;
    line-height: 31px;
    margin: 0 48px;
    /* margin-right: 11px; */
    white-space: nowrap;
    color: hsl(0deg 64% 35%);
    position: absolute;
    top: 100px;
    right: 1.7rem;
    width: 320px;
}

a {
    text-decoration: none;
    color: darkred;
}

a:hover, a.active {
    background-color: #990000;
    color: white;
}

main {
    /*max-width: 1440px;*/
    margin: 4px;
    padding: 11px 3rem;
    box-sizing: border-box;
}

.gallery {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.galleryCard {
    padding: 0.375rem;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    /*width: 330px;*/
    text-align: center;
    display: block;
}

/*.galleryCard *{
    text-align: center;
}*/
.galleryCardFigure {
    margin: 0;
}

.galleryCardFigureImg {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* clip-path: ellipse(47% 47%);*/
    overflow: hidden;
    object-position: top;
}

.galleryCardFigureCaptionTitle {
    margin-top: 1rem;
    /*margin: 1rem 0.75rem 0 0rem;*/
    font-size: 36px;
    color: hsl(11deg 63% 53%);
    white-space: nowrap;
}

.galleryCardDesc {
    margin: 0.25rem auto;
    /*margin: 0.25rem 0.75rem 0.25rem 0.75rem;*/
}

h2 {
    margin: 0.5rem auto 9px auto;
    /*margin: 0.5rem 0.75rem 9px 2.5rem;*/
    font-size: 22px;
    color: hsl(0deg 40% 46%);
    white-space: nowrap;
}

span {
    margin: 0.5rem auto 9px auto;
    /*margin: 0.5rem 0.75rem 9px 4.5rem;*/
    font-size: 15px;
    color: hsl(0deg 0% 55%);
}

h3 {
    margin: 0.5rem auto 9px auto;
    /*margin: 0.5rem 0.75rem 9px 0.5rem;*/
    font-size: 17px;
    color: hsl(0deg 0% 12%);
    white-space: nowrap;
}

main > section > div > article > div {
    margin: 11px auto;
}

main > section > div > article > div > a {
    width: fit-content;
    border: 2px solid #F2F2F2;
    overflow: hidden;
    border-radius: 30px;
    padding: 0 9px 2px 9px;
    font-size: 12px;
    margin: 0 2px;
    vertical-align: middle;
    align-self: baseline;
}

@media all and (max-width: 1050px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .section > header > h1 {
        position: relative;
        line-height: 8rem;
        top: 0;
    }
}

@media all and (max-width: 700px) {
    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }

}

#gallery-link{
    display: none;
    position: fixed;
    left: 42%;
}
