.photographyInfo {
    /* background-color: rgba( 250 ,250 ,250, 1);*/
    background-color: #E5E5E5;
    margin-left: 75px;
    margin-right: 75px;
    height: 313px;
    border-radius: 5px;


}

.photographyInfoHeader {
    /*display: inline-flex;*/
    /*margin-top: 70px;*/
    display: inline-block;
    padding: 70px 0 0 119px;
}

.photographyInfoHeaderTitle {
    margin: 0 auto;
    /*padding: 0 119px;*/
    font-size: 58px;
    color: hsl(11deg 63% 54%);
    white-space: nowrap;
    display: contents;
}

.image {
    /*height: 200px;
    border-radius: 50%;
    margin-top: 1rem;
    width: 200px;*/
    display: block;
    float: right;
}

.image img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 3rem;
}

.button {
    width: 170px;
    height: 69px;
    font-size: 20px;
    line-height: 20px;
    color: white;
    background-color: hsl(0deg 67% 34%);
    border-radius: 5px;
    display: inline-block;
    margin-left: 119px;
    cursor: pointer;
}

.button:hover {
    background-color: #D3573C;
    color: black;
}

.button:focus {
    color: black;
}

.description {
    display: block;
    margin: 50px 0 0;
}

#photographer-local {
    font-size: 20px;
    color: hsl(0deg 57% 37%);
    /* margin: -1px auto; */
    padding: 0 123px 13px;
    margin-bottom: 3px;
    margin-top: -4rem;
}

.desc {
    margin: 0 122px;
    color: hsl(0deg 0% 27%);
}

.photographyInfoNav {
    display: flex;
    justify-content: flex-start;
    margin: 26px 120px;

}

.photographyInfoNav a {
    color: darkred;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
    padding: 0 6px 2px 6px;
}

.photographyInfoNav a:hover, .photographyInfoNav a.active {
    background-color: #990000;
    color: white;

}

.photographyInfoNav a:focus {
    color: white;
}

.p1 {
    font-size: 53px;
    margin: 3px 39px;
    color: black;
}

.p2 {
    margin: 0 48px;
    font-size: 45px;
    color: black;
}

.photographyGallery {
    /*margin-left: 75px;*/
    /*    margin-right: 75px;
        height: 313px;*/
    border-radius: 5px;
}

.photographyGalleryHeader {
    display: inline-flex;
    margin: 16px 15px 0 75px;

}

.photographyGalleryHeader label {
    font-size: 20px;
    color: black;
    line-height: 58px;
}

.photographyGalleryMain {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-gap: 16px 66px;
    margin: 2em 4em;
}

/*.photographyGalleryMainCard {
    margin: 34px 78px 0;
    width: 355px;
}*/
.photographyGalleryMainCard a {
    text-decoration: none;
    color: rgba(144, 28, 28, 1);
    display: contents;
}

.photographyGalleryMainCardFigure {
    /*width: 347px;*/
    /*margin: 16px 66px;*/
    display: contents;
}

.photographyGalleryMainCardFigcaption {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 9px 0;
    height: 30px;
    white-space: nowrap;

}

.photographyGalleryMainCardFigcaption div:nth-child(1) {
    display: inline-flex;
    justify-content: space-between;
    width: calc(100% - 59px);
    font-size: 19px;
    margin: -5px 7px;

}

.photographyGalleryMainCardFigcaption div:nth-child(2) {
    /* margin-right: 4px;*/
    display: inline-flex;
    font-size: 19px;
    margin: -6px;
}

.photographyGalleryMainCardImg {
    /*width: 258px;
    height: 300px;*/
    /* max-width: 150px; */
    /* max-width: 100%; */

    object-fit: cover;
    border-radius: 10px;
    /*max-height: 100%;*/
    /*width: 258px;*/
    height: calc(90% - 30px);
    width: 100%;
}

.like {
    text-decoration: none;
    background: none;
    cursor: pointer;
}

.like .fa-heart {
    user-select: none;
    pointer-events: none;
    font-weight: 400;
    color: rgb(144, 28, 28);
    /*background: white;*/
    /* transition: color 1s linear;*/
}

.like:active .fa-heart, .like:hover .fa-heart, .liked .fa-heart {
    font-weight: 900;
    color: rgba(144, 28, 28, 1);
    /*  -webkit-background-clip: text;

      -webkit-text-fill-color: transparent;*/
}

.price {
    position: fixed;
    bottom: 0;
    right: 4rem;
    background-color: #D3573C;
    padding: 20px 28px;
    display: flex;
    justify-content: space-between;
    width: 24rem;
    font-size: 28px;
    border-radius: 10px 10px 0 0;
}

.price .like-static .fa-heart {
    color: black;
    font-weight: 900;
}

@media all and (max-width: 763px) {
    .photographyInfo {
        margin-left: -3rem;
        margin-right: -2rem;
        height: 313px;
        border-radius: 5px;
        margin-top: -6rem;
        background-color: white;
    }
    .photographyInfoHeaderTitle {
        font-size: 32px;
    }
    #photographer-local {

        margin-top: -3rem;
    }

    .photographyInfo {
        margin-left: -4rem;
    }

    .photographyInfoHeader {
        display: inline-block;
        padding: 6rem 0 0 99px;
    }

    .description {
        display: block;
        margin: 44px -22px 5px;
    }

    .image img {
        height: 153px;
        width: 153px;
        border-radius: 50%;
        object-fit: cover;
        margin: 67px 19px;
    }

    .photographyGallery {
        margin-left: 75px;
        margin-right: 19px;
        border-radius: 5px;
    }

    .photographyGalleryMain {
        grid-template-columns: repeat(1, 1fr);
        display: grid;
        column-gap: 2rem;
        row-gap: 2rem;
        grid-gap: 16px 66px;
        margin: 0 -3rem;
    }

    .photographyGalleryMainCardImg {
        width: 100% !important;
        object-fit: cover;
        border-radius: 10px;
        height: 337px;
        object-position: top;
    }

    .price {
        position: inherit;
        margin: 15px auto 100px;
    }

}


@media all and (max-width: 1024px) and (min-width: 763px) {
    body > header {
        padding: 21px 0.4rem;
    }

    .photographyInfo {
        margin-left: 38px;
        margin-right: 32px;
        background-color: white;
        margin-top: -2rem;
    }

    .photographyInfoHeader {
        padding: 25px 0 0 9px;
    }

    #photographer-local {
        padding: 0 12px 13px;
        margin-bottom: 3px;
        margin-top: -2rem;
    }

    .desc {
        margin: 0 10px;
    }

    .photographyInfoNav {
        margin: 29px 9px;

    }

    .image img {
        margin: 6px 5rem;
    }

    .photographyGallery {
        margin: -4rem -1rem;
    }

    .photographyGalleryMain {
        grid-template-columns: repeat(2, 1fr);
    }

    .price {
        position: inherit;
        margin: 15px auto 170px;
    }

}


@media all and (max-width: 1200px) {

    .button {
        display: inline-block;
        line-height: 0;
        margin: 0;
        position: fixed;
        bottom: 25px;
        left: calc(50% - 85px);
        /*margin: 0 auto;*/

    }
}

.imgNotfound {
    object-fit: contain;
}
.hidden{
    display: none;
}
