* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
   /* overflow-x: hidden;*/
}
@media all and (max-width:736px){
    body {
        overflow-x: hidden;
        width: 124%;

    }
}

